---
import Layout from '../layouts/Layout.astro';

const response = await fetch('http://localhost:1337/api/books');
const data = await response.json();
const booksData = data.data;
---
<Layout>
	<h1 class="heading">Welcome to our library!</h1>
	<img class="kittensImg" src="../../public/kittens-reading.jpg" alt="kittens reading" />
	{booksData.map((book) => (
		<p>"{book.attributes.Title}" by {book.attributes.Author} contains <b>{book.attributes.Pages}</b> pages. ({book.attributes.Genre})</p>
	))}
</Layout>

<style>
	.kittensImg {
		width: 500px;
		margin: 24px 0;
		border-radius: 10px;
	}
</style>